<div class="card">
    <div class="card.body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis deserunt 
            ratione doloremque quibusdam dignissimos. Odio eaque temporibus laboriosam in 
            blanditiis earum perferendis modi corrupti, similique error asperiores, quae 
            necessitatibus aperiam architecto neque quisquam ab explicabo saepe quas! Nihil, sint.</p>
    </div>
</div>