<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card p-4"> 
            <div class="card-body">
                <div class="jumbotron mt-4">
                    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Obcaecati sed, dolorem odit accusamus aperiam quaerat tempora atque minima, 
                    dignissimos tenetur illo hic veniam cumque laudantium, quae fugiat neque nesciunt beatae?</p>
                    <a href="https://www.youtube.com/" class="btn btn-primary btn-lg">FaztWeb</a>
                </div>
            </div>
        </div>
    </div>
</div>